*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 80%;
  margin: 0 auto;
}
.navBar{
  margin-top: 20px;
}
.row{
  margin-top: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/* Media Query */

@media screen and (max-width: 767px){
  .row{
    flex-direction: column;
  }
}

@media screen and (max-width: 375px){
 .App{
  width: 90%;
 }
}

@media screen and (max-width: 320px){
  .App{
   width: 95%;
  }
 }